*{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

nav{
  overflow: hidden;
}
nav .navbar{
  display: flex;
  z-index: 99;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid; */
  padding: 0 40px;
  height: 80px;
  background-color: black;
  color: whitesmoke;
  z-index: 1;
  /* position: relative; */
}
nav .navbar #nav-btn{
  display: none;
  height: 40px;
  width: 42px;
}
nav .navbar .logo{
  font-size: 30px;
  font-weight: 800;
}
nav .navbar ul li{
  list-style: none;
} 
nav .navbar ul li a{
  text-decoration: none;
  color: white;
  transition: all ease;
}
nav .navbar ul li a:hover{
  color: rgb(255, 129, 83);
}
nav .navbar ul{
  display: flex;
  gap: 30px;
}

 @media (max-width:600px){
  nav .navbar .logo{
    font-size: 25px;
    font-weight: 800;
  }
  nav .navbar{
    padding: 0 20px;
  }
  nav .navbar #nav-btn{
    display: block;
  }
  .hide{
    display: none !important;
  }
  nav .navbar ul{
    position: absolute;
    /* z-index: -1; */
    z-index: 10;
    /* gap: 30px; */
    /* display: none; */
    top: 80px;
    left: 0;
    width: calc(100% - 40px);
    background-color: black;
    display: flex;
    flex-direction: column;
    padding: 20px 20px;
    height: 200px;
  }
  nav .navbar ul li{
    /* border: 1px solid grey; */
    line-height: 40px;
  }
 }

.hero-section{
  /* background-color: black; */
  /* box-shadow: inset 0px 6px 25px 17px rgba(0, 0, 0, 0.69); */
  background:linear-gradient(
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.6)
    ),
    url("../public/images/herobg1.jpg")
  ;
  background-position: center;
  background-size: cover; 
  height: calc(100vh - 82px);
  padding: 0 40px;
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation: bgchng 10s ease infinite;
  /* animation-duration: 2s; */

}
@keyframes bgchng {
  0%{
    background:linear-gradient(
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.6)
      ),
      url("../public/images/herobg1.jpg")
    ;
    background-position: center;
    background-size: cover; 
  }
  33%{
    background:linear-gradient(
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.6)
      ),
      url("../public/images/herobg2.jpg")
    ; background-position: center;
    background-size: cover; 
  }
  66%{
    background:linear-gradient(
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.6)
      ),
      url("../public/images/herobg3.jpg")
    ;
    background-position: center;
    background-size: cover; 

  }
  100%{
    background:linear-gradient(
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.6)
      ),
      url("../public/images/herobg1.jpg")
    ;
    background-position: center;
    background-size: cover; 

  }
}
.hero-section h1{
  text-align: center;
  color: orangered;
  -webkit-text-stroke: 2px #fff;
  font-size:60px;
}
.hero-section p{
  color: rgb(255, 255, 255);
  font-weight: 600;
  font-size: 25px;
  text-align: center;
}
.hero-section a{
  background-color: orangered;
  text-decoration: none;
  line-height: 45px;
  text-align: center;
  /* font-weight: 600; */
  font-size: large;
  border-radius: 5px;
  color: white;
  width: 130px;
}
@media (max-width:600px){
  .hero-section h1{
    color: orangered;
    -webkit-text-stroke: transparent;
    font-size:30px;
    /* text-align: start; */
  }
  .hero-section p{
    font-size: 22px;
    /* text-align: start; */

  }
}

.char-card{
  border: 3px solid rgb(27, 93, 247);
  width: 300px;
  height: fit-content;
border-radius: 5px;
position: relative;
}
.char-card img{
  width: 100%;
  height: fit-content;
}
#card-link{
  text-decoration: none;
  color: white;
}
.char-card .status{
  position: absolute;
  color: rgb(255, 255, 255);
  padding: 5px 15px;
  background-color: rgb(121, 121, 121);
  margin: 5px;
  border-radius: 5px;
  /* top: 0; */
  right: 0;
}
.char-card .char-name{
  color: black;
  font-weight: 600;
  font-size: 22px;
  margin: 5px 5px;

}
.char-card .char-location{
  color: black;

  font-size: 15px;
  margin: 0px 5px;

}
.char-card .char-location .loc{
  margin: 5px 0px;
  font-size: 16px;

}
/* characters*** */
.life-status{
  width: 100px;
  /* border: 2px solid red; */
  background-color: white;
  border: none;
  font-size: large;
  /* padding: 5px 10px; */
  height: 35px;
}
.char-filter{
  /* border: 1px solid; */
  display: flex;
  align-items: center;
  gap: 5px;
}
.characters-container .srch-bar .select-con{
  border: 2px solid gray;
  height: 38px;
  width: 100px;
  padding: 2px 10px 0px 10px;
border-radius: 5px;
}
.characters-container{
  padding: 40px;

}
.characters-container h1{
  text-align: center;
  font-size: 40px;
}
.characters-container .srch-bar{
  width: fit-content;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  /* flex-direction: column; */
}
@media(max-width:720px){
  .characters-container h1{
    margin-bottom: 10px;
    font-size: 30px;
  }
  .characters-container .srch-bar{
    width: fit-content;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    /* flex-direction: column; */
  }
}
.characters-container .srch-bar input{
  height: 40px;
  padding: 0 10px;
  font-size: larger;
  width: 300px;
  border-radius: 5px;
}
.characters{
  /* border: 1px solid; */
  display: flex;
  gap: 20px;
  padding: 40px 0;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.pagination {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.pagination button{
  padding: 10px 15px;
  border: 1px solid gainsboro;
  color: white;
  font-size: large;
  border-radius: 5px;
  background-color: rgb(69, 69, 255);
}
.pagination button:hover{
  background-color: blue;
}

@media (max-width:500px){
  .life-status{
 font-size: medium;
    height: 35px;
    width: 90px;
  }
 
.characters-container .srch-bar  .select-con{
    /* width: 100%; */
    height: 35px;
    /* border: 1px solid red; */
    padding: 2px 15px 0px 15px;

  }
  .char-card{
    width: calc(100vw - 40px);
  }
  .characters-container{
    padding: 20px;
  }
  .characters{
    width: 100%;
   column-gap: 10px;
  }
  .characters-container .srch-bar input{
    height: 35px;
    padding: 0 10px;
    font-size: medium;
    width: 100%;
    border-radius: 5px;
  }
}


/* single-character */
.single-character{
  height: fit-content;
  height: calc(100vh - 82px);
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.single-character .box{
  display: flex;
  width: 350px;
  padding: 0 20px;
  flex-direction: column;
  gap: 5px;
}
.single-character .box img{
width: 100%;
border-radius: 5px;
}
.single-character .box .s-name{
  text-align: center;
  margin-bottom: 5px;
  font-size: 32px;
}
.single-character .box .s-status{
  width: calc(100%-20px);
  background-color: grey;
  text-align: center;
  font-weight: 600;
  color: white;
  font-size: larger;
  border-radius: 5px;
  padding: 10px;
}

.ep-container{
  width: calc(100% - 81px);
  padding: 40px 40px;
}
.ep-container .ep-filter{
  /* border: 1px solid; */
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.ep-container .ep-filter div{
  display: flex;
  /* align-items: center; */
  flex-direction: column;
  justify-content: center;
  gap: 8px;
  width: 100%;
  /* border: 1px solid; */
}
.ep-container .ep-filter div .ep-name{
  font-size: 30px;
}
.ep-name-ans{
  color: blue;
}
.ep-container .ep-filter div .ep-date{
  text-align: start;
  font-size: 20px;
  font-weight: 600;
}
.eps-select{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 50px;
  /* border: 1px solid ; */
  width: 120px !important;
  border-radius: 5px;
  /* background-color: aliceblue; */
}
.ep-container .ep-filter .eps-select span{
  padding: 5px 10px;
  border: 1px solid;
  border-radius: 5px;

}
.eps-select p{
  font-size:15px;
  /* font-weight: 600; */
}
#eps{
  border: none;
  margin-top: -5px;
  width: 80px;
  background-color: transparent;
}
@media (max-width:950px){
  .ep-container .ep-filter{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .ep-container .ep-filter div .ep-name, div .ep-date{
    text-align: center !important;
    justify-content: center;
  }
  .ep-container .ep-filter .eps-select{
    margin-top: 15px;
    width: fit-content !important;
    /* border: 2px solid red; */
  }
  .ep-container .ep-filter .eps-select p{
    font-size: large;
  }
}
@media (max-width:600px){
  .ep-container .ep-filter .eps-select{
    width: 100% !important;
    /* border: 1px solid ; */
    display: flex;
    justify-content: center;
    align-items: center;

  }
  .ep-container .ep-filter .eps-select span{
    width: calc(100% - 20px);
  }
  .ep-container .ep-filter .eps-select  select{
    width: 100% !important;
  }
  .ep-container{
    width: calc(100% - 41px);
    padding: 40px 20px;
  }
  .ep-container .ep-filter div .ep-name{
    font-size: larger;
  }
  .ep-container .ep-filter div .ep-date{
    font-size: medium;
  }
}